* {

    margin: 0;
    padding: 0;
}

:root {
    --radius: 12px;
    --gray-clr-one: #9ca8b6;
    --gray-clr-two: #232b3c;
}

body {
    background-color: #00b3ff;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    background-color: transparent;
    width: 700px;
    height: 650px;
    padding: 10px;
    border-radius: var(--radius);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    perspective: 900px;
}

.card {
    background-color: #3b597836;
    position: relative;
    transition: transform .7s;
    transform-style: preserve-3d;
    border-radius: 12px;


}

.card:hover {
    transform: rotateY(180deg);
}


.front,
.back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}


.back {
    transform: rotateY(180deg);
}

img {
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 12px;
}

.information {
    color: white;
    margin-left: 15px;
    text-transform: capitalize;
}

.information h2 {
    margin: 10px 0;
}

.information p {
    margin: 20px 0;
    font-size: 14px;
}

.information span {
    font-weight: bolder;
    font-size: 16px;
}