body {
    background: linear-gradient(to right, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.head {
    margin-bottom: 20px;
}

.dis {
    color: rgba(255, 255, 255, 0.612);
    font-weight: 600;
    font-size: 0.9rem;
}

.container {
    display: grid;
    width: 500px;
    height: 500px;
    margin-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.item {
    background-color: rgba(232, 232, 232, 0.31);
    border-radius: 10px;
    transition: opacity 0.5s ease;
    display: grid;
    place-items: center;
    position: relative;
    ;

}

.container:hover .item {
    opacity: 0.3;
    cursor: pointer;
}

.container:hover .item:hover {
    opacity: 1;
}

.item::after,
.item::before {
    content: "";
    position: absolute;
}

/* loader-1 */
.item1::before,
.item1::after {

    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    animation-name: loader-1;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item1::after {
    animation-delay: 0.2s;
}

@keyframes loader-1 {
    0% {
        opacity: 0;
        transform: translate(-40px, 0);
    }

    50% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(40px, 0);
    }
}

/* loader-2 */
.item2::after,
.item2::before {
    width: 15px;
    height: 15px;
    background-color: white;
    animation-name: loader-2;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 50%;

}

.item2::after {
    left: 50px;
    animation-delay: 0.4s;
}

.item2::before {
    right: 50px;
}

@keyframes loader-2 {

    0%,
    100% {
        transform: translateY(-30px);
    }


    50% {
        transform: translateY(30px);
    }



}





/* loader three */
.item3::after {
    width: 15px;
    height: 15px;
    background-color: white;
    transform: translate(-40px, -40px);
    animation-name: loader-3;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item3::before {
    width: 15px;
    height: 15px;
    background-color: white;
    transform: translate(-40px, -40px);
    animation-name: loader-3;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;

}

@keyframes loader-3 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
        transform: translate(40px, -40px);
    }

    50% {
        opacity: 0.5;
        transform: translate(40px, 40px);
    }

    75% {
        opacity: 1;
        transform: translate(-40px, 40px);
    }

    100% {
        opacity: 0;
    }
}