body {
    background: linear-gradient(to right, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.head {
    margin-bottom: 20px;
}

.dis {
    color: rgba(255, 255, 255, 0.612);
    font-weight: 600;
    font-size: 0.9rem;
}

.container {
    display: grid;
    width: 500px;
    height: 500px;
    margin-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.item {
    background-color: rgba(232, 232, 232, 0.31);
    border-radius: 10px;
    transition: opacity 0.5s ease;
    display: grid;
    place-items: center;
    position: relative;
    ;

}

.container:hover .item {
    opacity: 0.3;
    cursor: pointer;
}

.container:hover .item:hover {
    opacity: 1;
}

.item::after,
.item::before {
    content: "";
    position: absolute;
}

/* loader-1 */
.item1::before,
.item1::after {

    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    animation-name: loader-1;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item1::after {
    animation-delay: 0.2s;
}

@keyframes loader-1 {
    0% {
        opacity: 0;
        transform: translate(-40px, 0);
    }

    50% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(40px, 0);
    }
}

/* loader-2 */
.item2::after,
.item2::before {
    width: 15px;
    height: 15px;
    background-color: white;
    animation-name: loader-2;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 50%;

}

.item2::after {
    left: 50px;
    animation-delay: 0.4s;
}

.item2::before {
    right: 50px;
}

@keyframes loader-2 {

    0%,
    100% {
        transform: translateY(-30px);
    }


    50% {
        transform: translateY(30px);
    }



}

/* loader three */
.item3::after {
    width: 15px;
    height: 15px;
    background-color: white;
    transform: translate(-40px, -40px);
    animation-name: loader-3;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item3::before {
    width: 15px;
    height: 15px;
    background-color: white;
    transform: translate(-40px, -40px);
    animation-name: loader-3;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;

}

@keyframes loader-3 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
        transform: translate(40px, -40px);
    }

    50% {
        opacity: 0.5;
        transform: translate(40px, 40px);
    }

    75% {
        opacity: 1;
        transform: translate(-40px, 40px);
    }

    100% {
        opacity: 0;
    }
}

/* loader four */
.item4::before {
    width: 80px;
    height: 3px;
    background-color: white;
    top: 50px;
    animation-name: loader-4;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.item4::after {
    width: 80px;
    height: 3px;
    background-color: white;
    bottom: 50px;
    animation-direction: reverse;
    animation-name: loader-4;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes loader-4 {

    0%,
    44%,
    88%,
    100% {
        transform-origin: left;
        transform: scaleX(0);
    }

    33%,
    44% {
        transform: scaleX(1);
    }

    44.1%,
    88% {
        transform-origin: right;
    }
}

.item5::before,
.item5::after {
    width: 3px;
    height: 30px;
    background-color: white;
    animation-name: loader-5;
    animation-timing-function: cubic-bezier(0, 0, 0.24, 1.12);
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
}

.item5::after {
    right: 70px;
}

.item5::before {
    left: 70px;
    animation-delay: 0.3s;
}

@keyframes loader-5 {

    0%,
    100% {
        opacity: 0.3;
    }

    0% {
        transform: translateY(-40px);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(40px);
    }
}

.item6::after {
    width: 30px;
    height: 30px;
    background-color: white;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    animation-name: loader-6;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes loader-6 {

    0%,
    100% {
        transform: none;
    }

    25% {
        transform: translateX(100%);
    }

    50% {
        transform: translate(100%, 100%);
    }

    75% {
        transform: translateY(100%);
    }
}

.item7::after,
.item7::before {
    width: 20px;
    height: 20px;
    background-color: white;
    animation: loader-7 0.9s linear infinite;
}

.item7::after {
    left: 60px;
    animation-direction: reverse;
}

.item7::before {
    right: 60px;
    animation-direction: reverse;
}

@keyframes loader-7 {}